header{
	float: left;
	width: 100%;
	background-image:url(images/triangle-back-pink.png); 
}
.navigation-container{
	margin: 0 auto;
	width: 700px;
	height: 70px;
}

.navigation {
    float: left;
    width: 100%;
    position: fixed;
    background: rgba(255,255,255,0.6);
    height: 44px;
}
.navigation h2{
	float: left;
	font-family: helvetica;
	font-size: 18px;
	font-weight:normal;
}
.navigation img {
    float: left;
    height: 20px;
    width: 18px;
    padding-top: 14px;
    padding-right: 3px;
}
.navigation h2:hover{
	border-bottom: solid 3px #EA5A82;
	font-weight: bold;
}

.nav-h{
	float: left;
	width: 84px;
	margin: 32px;
	margin-top: 0;
	margin-bottom: 0;
}
.nav-h img{
	opacity: 1;
}
.nav-h h2:hover .nav-h img{
	opacity: 1;
}
 /*.hamburger:hover .ham-content{
    	display: block;
    }
*/
.nav-w{
	float: left;
	width: 84px;
	margin: 32px;
	margin-top: 0;
	margin-bottom: 0;
}
.nav-e{
	float: left;
	width: 144px;
	margin: 32px;
	margin-top: 0;
	margin-bottom: 0;
}
.nav-c{
	float: left;
	width: 114px;
	margin: 32px;
	margin-top: 0;
	margin-bottom: 0;
}

.chuyi-photo{
	width: 100%;
	float: left;
	margin-top: 10px;
}
.chuyi-container{
	width: 128px;
	margin: 0 auto;
}
.chuyi-photo img{
	width: 100%;
	float: left;
}
	
.chuyi-text{
	margin: 0 auto;
	width: 750px;
}
.chuyi-text-a {
    float: left;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 30px;
}

.chuyi-text-b{
	float: left;
	width: 100%;
}

.chuyi-text-a h3 {
    float: right;
    font-size: 36px;
    font-family: helvetica;
   width: 96%;
    margin: 0;
    font-weight: normal;
}
.chuyi-text-a img {
    float: left;
    height: 24px;
    padding-top: 8px;
}

.chuyi-text-b h4 {
    float: right;
    font-size: 18px;
    font-weight: lighter;
    font-family: helvetica;
    width: 96%;
    padding: 0;
    margin: 0;
}
.chuyi-text-b img {
    float: left;
    height: 15px;
    padding-top: 2px;
    padding-left: 4px;
}

.resume{
	float: left;
	width: 100%;
}

.resume h4 {
    border: 1px solid #EA5A82;
    margin: 0 auto;
    width: 120px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 10px;
    margin-top: 50px;
    font-family: helvetica;
    color: #EA5A82;
}
.resume h4:hover{
	background-color: #EA5A82;
	color: #FFF;
}

.work{
	float: left;
	width: 100%;
	padding-top: 60px;
	border-bottom:  1px #EA5A82;
}
.head-con{
	float: left; 
	width:100%; 
	padding-bottom: 30px;
}

.head-con img {
    width: 14px;
    float: left;
    margin-top: 2px;
    margin-right: 2px;
}

.head-con h2{
	float: left;
	color: #4C4C4C;
	font-size: 18px;
	font-weight: bold;
	margin: 0;
	font-family: helvetica;
}
.head-work{
	margin: 0 auto;
	width: 172px;
}

.work-container{
	width: 960px;
	margin: 0 auto;
}

.work-con{
	float: left;
	margin: 25px;
	width: 267px;
}
.work-con img{
	width: 267px;
	float: left;
    box-shadow: 5px 5px 5px #777;
}
.work-con img:hover{
	box-shadow:none;
}
.work-con h3{
	float: left;
	text-align: center;
	color: #4C4C4C;
	font-family: helvetica;
	text-align: center;
	width: 100%;
}
.head-exp{
	margin: 0 auto;
	width: 133px;
}

.experience-container{
	width: 960px;
	margin: 0 auto;
}
.experience h3{
	float: left;
	font-size: 18px;
	font-family: helvetica;
	color: #EA5A82;
	width: 100%;
	padding-bottom: 20px;
}
.experience h1{
	float: left;
	font-size: 16px;
	font-family: helvetica;
	color: #EA5A82;
	width: 100%;
	font-weight: lighter;
}
.experience h4 {
    float: left;
    font-size: 16px;
    font-family: helvetica;
    color: #4c4c4c;
    font-weight: lighter;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.education{
	float: left;
	width: 50%;
}
.education-left {
    float: left;
    width: 400px;
    text-align: right;
    padding-top: 10px;
}
.education-right {
    float: right;
    width: 24px;
    padding-top: 98px;
    padding-right: 20px;
}
.education-right-b {
    float: right;
    width: 24px;
    padding-top: 20px;
    padding-right: 20px;
}
.intern{
	float: right;
	width: 50%;
}
.intern-left{
	float: right;
	width: 40px;
}
.intern-right {
    float: right;
    width: 400px;
    text-align: left;
    padding-top: 10px;
}
.dot img{
	width: 17px;
	float: right;
}
.line-a {
    float: left;
    margin-left: 14px;
    margin-bottom: -14px;
}
.line-a img {
    float: right;
    width: 3px;
    hyphens: 50px;
    height: 131px;
    margin-right: 7px;
}
.line-b {
    float: left;
    margin-left: 14px;
    margin-bottom: -14px;
}
.line-b img {
    float: right;
    width: 3px;
    hyphens: 50px;
    height: 149px;
    margin-right: 7px;
}
.intern-right h5{
	float: left;
	width: 100%;
	height: 60px;
}
.intern-right h4{
	margin: 0;
}
.intern-left-a {
    float: right;
    width: 24px;
    padding-top: 203px;
    padding-right: 20px;
}

.line-i-a {
    float: left;
    margin-left: 14px;
    margin-bottom: -8px;
}
.line-i-a img {
    float: right;
    width: 3px;
    hyphens: 50px;
    height: 71px;
    margin-right: 7px;
    margin-top: -7px;
}
.intern-left-b {
    float: right;
    width: 24px;
    padding-top: 20px;
    padding-right: 20px;
}


.line-i-b {
    float: left;
    margin-left: 14px;
    margin-bottom: -8px;
}
.line-i-b img {
    float: right;
    width: 3px;
    hyphens: 50px;
    height: 71px;
    margin-right: 7px;
    margin-top: -7px;
}

.head-contact{
	margin: 0 auto;
	width: 103px;
}


.contact{
	float: left;
	width: 100%;
	margin-top: 80px;
}

.contact-container{
	width: 960px;
	margin: 0 auto;
}

.contact-hi{
	width: 580px;
	margin: 0 auto;
}

.contact h1{
	color: #4c4c4c;
	font-size: 18px;
	font-weight: lighter;
	font-family: helvetica;
	text-align: center;
}
.contact-a {
    width: 488px;
    margin: 0 auto;
}
.name{
	float: left;
	width: 50%;
}
.name h4{
	width: 50px;
}
.email h4{
	width: 50px;
}
.email{
	float: left;
	width: 50%;
}
.contact h4{
	float: left;
	font-size: 16px;
	font-weight: lighter;
	font-family: helvetica;
	color: #EA5A82;
}
.contact input {
    float: left;
    width: 168px;
    height: 20px;
    font-family: helvetica;
    color: #4c4c4c;
    font-size: 16px;
    margin-top: 6px;
    margin-left: 10px;
    margin-right: 10px;
}
.message{
	width: 488px;
	margin: 0 auto;
}
.message h4{
	width: 72px;
	margin-top: 43px;
}
.message textarea{
	float: left; 
	width: 400px;
	font-family: helvetica;
    color: #4c4c4c;
    font-size: 16px;
    margin-top: 8px;
    height: 50px;
	
}

.send{
	float: left;
	width: 100%;
}

.send h5 {
    border: 1px solid #EA5A82;
    margin: 0 auto;
    width: 250px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 10px;
    margin-top: 50px;
    font-family: helvetica;
    color: #EA5A82;
    font-size: 18px;
}
.send h5:hover{
	background-color: #EA5A82;
	color: #FFF;
}